<!DOCTYPE html>
<html>
<head>
  <title>Myshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id="banner">
￼<%= image_tag("logo.png",class: 'logo') %>
<%= @page_title || "ディズニーDVD" %>
</div>
<div id="columns">
  <div id="side">
    <ul>
      <li><a href="/">ホーム</a></li>
　　　　<li><a href="/news">お知らせ</a></li>
　　　　<li><a href="/contact">お問い合わせ</a></li>
　　</ul>
　</div>
  <div id="main">
    <%= yield %>
  </div>
</div>

</body>
</html>
